@media only screen and (orientation: landscape){
  .table {
    height: 96vh;
    width: 96vh;
    margin: 2vh;
  }
}
@media only screen and (orientation: portrait) {
  .table{
    height: 96vw;
    width: 96vw;
    margin: 2vw;
  }
}

.table{
  border: 1px solid black;
  overflow: hidden;
  margin: 0px;
}

.gameRows{
  height: 10%;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}

.gameCell{
  width: 10%;
  border: 1px solid black;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.moveSpace {
  border: 2px solid red;
}
/* nth-child selectors to colour the board cells*/
.gameRows:nth-child(2n) .gameCell:nth-child(2n) {
  background-color: grey;
}

.gameRows:nth-child(2n) .gameCell:nth-child(2n + 1) {
  background-color: white;
}

.gameRows:nth-child(2n + 1) .gameCell:nth-child(2n) {
  background-color: white;
}

.gameRows:nth-child(2n + 1) .gameCell:nth-child(2n + 1) {
  background-color: grey;
}
